<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/estilo.css">
        <!-- Fuente Monserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Fuente Monserrat -->
        <title>Document</title>
    </head>
    <body>
        <header class="cabecera">
            <img src="../assets/img/2 - Logo Tatilandia PNG.png" alt="Logo Tatilandia">
            <a href="../index.html" class="titulo">
                <h1>Tatilandia</h1>
            </a>
            <nav>  
                <ul class="listaMenu">
                    <li><a href="../index.html" class="subrayado"><h2>Home</h2></a></li>
                    <li><a href="Comprar.html" class="subrayado"><h2>Comprar</h2></a></li>
                    <li><a href="Menu.html" class="subrayado"><h2>Menu</h2></a></li>
                    <li><a href="#" class="subrayado"><h2>Contacto</h2></a></li>
                    <li><a href="Conocenos.html" class="subrayado"><h2>Conócenos</h2></a></li>   
                </ul>                               
        </nav>
        </header>
        <section>
                <article>
                    <h2 class="antojo">Contacto</h2>
                    <p class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit porro enim ad hic, corporis tempore temporibus. Amet eius laboriosam accusamus. Sit reprehenderit illo magni consequatur totam veniam doloribus perferendis corporis.</p>
                </article>
                <article>
                    <h2>Canal de contacto</h2>
                    <fieldset>
                        <form>         
                            <input type="text" placeholder="Nombre"><br>
                            <input type="text" placeholder="email"> <br>
                            <input type="text" placeholder="Teléfono"><br>
                            <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea><br>
                            <input type="reset" value="Borrar todo"> 
                            <input type="submit" value="Enviar">      
                        </form>
                    </fieldset>
                </article>
                <article>
                    <h2>Dirección</h2>
                    <h2>Av. General Las Heras y Pres. José Evaristo Uriburu</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.587477092553!2d-58.397105185052794!3d-34.58930326424202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca987a3b113f%3A0x2fde23bf670cee2c!2sAv.%20Gral.%20Las%20Heras%20%26%20Pres.%20Jos%C3%A9%20Evaristo%20Uriburu%2C%20C1126%20CABA!5e0!3m2!1ses!2sar!4v1624287765243!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </article>
        </section> 
        <footer class="flexFoo">
            <!-- Parte de arriba -->
            <div class="fooTop">
                <div class="topleft">
                    <h4>Direcciones:</h4>
                    <ul>
                        <li>Esquina General Urquiza y Moreno</li>
                        <li>Esquina Las Heras y Uriburu</li>
                    </ul>
                </div>
                <div class="topCenter">
                    <h4>Teléfonos:</h4>
                    <ul>
                        <li>+54 9 11 55667788</li>
                        <li>+54 9 11 77889911</li>
                    </ul>
                </div>
                <div class="topRight">
                    <img src="../assets/img/Logo instagram.png" alt="Instagram">
                    <img src="../assets/img/logo whatsapp.png" alt="Whatsapp">
                </div>
            </div>
            <!-- Parte de abajo -->
            <div  class="fooBottom">
                <div class="bottomLeft">
                    <h4><a href="#">Contacto</a></h4>
                    <h4><a href="Conocenos.html">Conócenos</a></h4>
                </div>
                <div class="bottomCenter">
                    <img src="../assets/img/2 - Logo Tatilandia PNG.png" alt="Tatilandia">
                </div>
                <div class="bottomRight"> 
                    <h5>Hecho por Marcos Escobar</h5>
                </div>
            </div>
        </footer>   
    </body>
</html>