<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="../css/estilo.css"> -->
        <!-- Fuente Monserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Fuente Monserrat -->
        <link rel="stylesheet" href="../css/comprar.css">
        <title>Document</title>
    </head>
    <body>
        <header class="container-fluid bg-gris m-0 p-0 txt-blanco">
            <div class="row">
                <nav class="col-4 col-lg-8 p-0 d-flex justify-content-around align-items-center">
                    <ul class="d-flex flex-column justify-content-around h-75 m-0">
                        <li><a href="" class="txt-blanco">Home</a></li>
                        <li><a href="" class="txt-blanco">Comprar</a></li>
                        <li><a href="" class="txt-blanco">Menú</a></li>
                        <li><a href="" class="txt-blanco">Contacto</a></li>
                        <li><a href="" class="txt-blanco">Conócenos</a></li>                        
                    </ul> 
                </nav>
                <div class="col-4 col-lg-3 p-0">
                    <h1>Tatilandia</h1>
                </div>
                <div class="col-4 col-lg-1 p-0">
                    <img src="../assets/img/2 - Logo Tatilandia PNG.png" class="img-fluid" alt="">
                </div>
            </div>
        </header>



        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>